@model IEnumerable<Moist.Core.Models.Schema>

@{
    Layout = "_PanelLayout";
}
<h1>Schemas page</h1>

<div>
    <a asp-controller="Schemas" asp-action="Create">Create Schema</a>
</div>

@foreach (var s in Model)
{
    <p>
        @s.Title - @s.Description
        @if (s.Activate)
        {
            <a todo>deactivate</a>
        }
        else if (!s.Closed && !s.Activate)
        {
            <a asp-controller="Schemas" asp-action="Activate" asp-route-shopId="@s.ShopId" asp-route-schemaId="@s.Id">
                Activate
            </a>
        }
        else
        {
            <span>Cloased</span>
        }
    </p>
}