@page "{m?}"
@model Moist.Configuration.UI.Pages.Panel.StoreProfile.Index

@{

}

<h1>@Model.Message</h1>
<form method="post">
    <input type="hidden" asp-for="Form.Id">
    <div>
        <input asp-for="Form.Name">
    </div>
    <div>
        <input asp-for="Form.Description">
    </div>
    <button type="submit">Change</button>
</form>