@model ChangeShopProfileContext.Form
@{
    Layout = "_PanelLayout";
}


<form method="post">
    <input type="hidden" asp-for="Id">
    <div>
        <input asp-for="Name">
    </div>
    <div>
        <input asp-for="Description">
    </div>
    <button type="submit">Change</button>
</form>