@page
@model Moist.Configuration.UI.Pages.Account.Register.Index

@{

}

<form asp-page="/Account/Register/Index" method="post">
    <input asp-for="Form.Email" value="@Model.Form.Email">
    <input asp-for="Form.Password" value="@Model.Form.Password">
    <input asp-for="Form.ConfirmPassword" value="@Model.Form.ConfirmPassword">
    <button type="submit">Register</button>
</form>