@{}

<!DOCTYPE html>
<html>
<head>
    <title>Moist - @ViewData["Title"]</title>
</head>
<body>

<h1>Moist Panel</h1>

<div>

    <a asp-action="Index" asp-controller="Schemas">Cofnigure Schemas</a>
</div>

@RenderBody()

</body>
</html>